@page {
	margin: 0mm;
}
			
@media print{
	body * {
	background-color: white;
	font-size: 13pt;
	font-family: Arial, sans-serif;
	line-height: 1.5em;
	padding : 3px;
	}
	#main, #main * {			
		width: 100%;
	} 
	aside, details, figcaption, figure,
	footer, hgroup, menu, nav, section, menu {
		display: none;
	}
	.image {
		display: none;
	}
	.image.featured {
		display: none !important;
	}
	.image.main img {
		display: none;
	}
	.material-symbols-outlined {
		display: none !important;
	}			
	#wrapper > header a {
		display: none !important;
					
	}
	.post > header .meta * {
		display: none;
	} 
				
	.post > header .btn-print {
		display: none !important;
	}
	.post > header .title h2 a {
		font-size: 16pt;
	}
	.post > header .title p {
		padding: 0;
					
	}
	.page-break {
		page-break-before: always;
	}
	footer ul {
		display: none !important;
	}
	ol.discuss li {
		margin: 1em;
		/*margin-top:1em;
		margin-bottom: 1em; */
					
	}
				
	/*.post > header .meta .author img {
		display: none !important;
	}
	.post > header .meta .published {
		display: none !important;
	} */
}